# ===========================================
# PYTHON
# ===========================================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pdb
*.pyd
*.egg-info/
dist/
build/
.eggs/
*.so

# ===========================================
# VENV / POETRY
# ===========================================
.venv/
.env
env/
venv/
poetry.lock

# ===========================================
# IDE / EDITOR FILES
# ===========================================
.vscode/
.idea/
*.iml

# ===========================================
# LOGS & TEMP FILES
# ===========================================
*.log
logs/
tmp/
data/
cache/
*.sqlite3
*.db

# ===========================================
# SYSTEM FILES
# ===========================================
.DS_Store
Thumbs.db

# ===========================================
# DOCKER
# ===========================================
*.pid
*.sock

# ===========================================
# NOTEBOOKS
# ===========================================
.ipynb_checkpoints/

# ===========================================
# PARQUET / CSV / OUTPUTS
# ===========================================
*.csv
*.xlsx
*.xls
*.parquet
*.json
